/* created by: Evans Pigon
       date: 7/9/2023
       class: CIS133DA
       title: Building a Product Page
*/
:root 
    {
        --main-white: #FFFFFF;
        --main-lt-blue: #87ceeb;
        --main-blue: #4a5e78;
        --main-black: #1A1A1A;
        --main-bt-blue:#92e9e0;
        --main-bkgrnd: #bbbbbb ;
    }


*, *::before, *::after   
    { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
  
html 
    {
        box-sizing: border-box;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }
  
body 
    {
        background-color: var(--main-bt-blue);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: var(--main-black);
        margin: auto;
        max-width: 720px;
        font-size: 1.8rem; 
        font-weight: 400;
        line-height: 1.4;
        padding: 0;
    }

.nav
    {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--main-lt-blue);
        box-shadow: 0 2px 0 rgba(2, 2, 2, 0.466);
        z-index: 10;
    }

    .nav-list
    {
      display: flex;
       margin-right: 2rem;
       list-style: none;
    }

    .nav-list a
    {
        display: block;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 550;
        padding: 2.2rem;
        color: var(--main-black);
    }

.nav-list a:hover
    {
        background: var(--main-black);
        color: var(--main-white)
    }
  
.logo 
    {
        position: fixed;
        left: 0;
        display: flex;
        z-index: 11;
    }
.logo img 
    {
        width: 47%;
    }


 /* after nav bar */
#top-title 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 200px;
        margin-top: 50px;
    }

#top-title h2 
    {
        margin-top: 100px;
        margin-bottom: 20px;
    }
  
#top-title input[type='email'] 
    {
        max-width: 275px;
        width: 100%;
        padding: 5px;
    }
  
#top-title input[type='submit'] 
    {
        max-width: 150px;
        width: 100%;
        height: 30px;
        margin: 15px 0;
        border: 1px;
        border-color: #141414;
        background-color: #2fcf29;
    }
  
#top-title input[type='submit']:hover 
    {
        background-color: #0bfc03;
    } 
 

.button 
    {
        padding: 0;
        height: 45px;
        font-size: 1.1em;
        font-weight: bold;
        border: 1px #141414 solid;
        border-radius: 2px;
        background: transparent;
        cursor: pointer;
    }

.center-text
    {
        padding: 100px 0;
    }

.benefits1 h2 
    {
        text-align: center;
        display: flex;
        padding: 15px 0; 
    }

p
    {
        margin: auto;
    }

.icon 
    {
        display: flex;
        height: 100px;
        width: 20vw;
        margin-left: -130px;
        margin-bottom: -100px;
    }

    /* YT video */
  
#video-show 
    {
        display: flex;
        justify-content: center;
    }
  
#video-show iframe 
    { 
        width: 100%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589); 
    }
  
#price 
    {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  
.product 
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 5px;
        border: 1px solid #141414;
        
        
    }
  
.product .level 
    {
        color: var(--main-black);
        background-color: #fffb00;
        padding: 15px 0;
        width: 100%;
        font-weight: 700;
        text-transform: uppercase;
    }
  
.product h2 
    {
        margin-top: 10px;
    }
  
.product ol 
    {
        margin: 15px 0;
        
    }
  
.product ol li 
    {
        text-align: left;
        padding: 5px 0;
        width: 100%;
        margin-left: 25px;
    }

  
.product .button 
    {
        border: 0;
        margin: 20px auto;
        padding: 0;
        background-color: #2fcf29;
        font-weight: 400;
        border: 1px #141414 solid;
        max-width: 150px;
        width: 40%;
        height: 30px;
        
    }
 
.product button:hover 
    {
        background-color: #0bfc03;
    }
  
footer 
    {
        margin: 50px;
        background-color: #0642734b;
        padding: 0;
        max-width: 100%;
    }
  
footer ul 
    {
        display: flex;
        justify-content: flex-end;
    }
  
footer ul li 
    {
        padding: 15px 15px;
        list-style-type: none;
    }
  
footer span 
    {
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
        font-size: 0.9em;
    }

  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }

  @media (max-width: 650px) {
    .logo img {
      margin: 0 auto;
    }
  }

  @media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
  }

  @media (max-width: 650px) {
    nav ul {
      flex-direction: column;
    }
  }

  @media (max-width: 650px) {
    #top-title {
      margin-top: 120px;
    }
  }

  @media (max-width: 550px) {
    #benefits .icon {
      display: none;
    }
  }

  @media (max-width: 550px) {
    #benefits .benefits1 {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }
  
  @media (max-width: 650px) {
    #benefits {
      margin-top: 0;
    }
  }
  
  

  @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  
