/*   created by: Evans Pigon
date: 6/12/2023
class: CIS133DA
title: Building a Survey Form
*/

:root 
    {
        --main-white: #FFFFFF;
        --main-lt-blue: #87ceeb;
        --main-blue: #4a5e78;
        --main-black: #1A1A1A;
        --main-bt-blue:#40e0d0;
    }

*, *::before, *::after 
    {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

html   
    {
        box-sizing: border-box;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

body  
    {
        background-image: url('/survey-images/chocolate-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: auto;
        max-width: 720px;
        font-size: 1.8rem; 
        font-weight: 400;
        line-height: 1.4;
        padding: 0;
        color: var(--main-black);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

.nav 
    {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--main-lt-blue);
        box-shadow: 0 2px 0 rgba(255, 255, 255, 0.466);
        z-index: 10;
    }

.nav-list
    {
      display: flex;
       margin-right: 2rem;
       list-style: none;
    }
    

.nav-list a
    {
        display: block;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 550;
        padding: 2.2rem;
        color: var(--main-black);
    } 

.nav-list a:hover
    {
        background: var(--main-black);
        color: var(--main-white)
    }

#title /*top title*/ 
    {
      margin-top: 75px;
      font-family: Impact, 'Arial Narrow Bold', sans-serif ;
      font-size: 6rem;
      text-align: center;
      font-weight: 500;
      color: var(--main-white);
      text-shadow:  5px 5px 5px rgba(0, 0, 0, 0.589); 
    }
  
  #description  
    {
      font-style: italic;
      font-size: 1.6rem;
      text-align: center;
      font-weight: bold;
      color: var(--main-white);
      text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.589);
    }

  #survey-form /* Info-box background*/ 
    {
      background: rgba(155, 153, 153, 0.877);
      border-radius: .5rem;
      padding: 2.5rem 0.625rem;
    }

  .divider 
    {
      border-bottom: 3px solid rgb(70, 69, 69);
      padding: 10px 5px ;
    }

  .form-control /*inside the dropdowns */ 
    {
      display: block;
      width: 97%;
      height: 2.5rem;
      margin: auto;
      padding: 0;
      color: black;
      background-clip: padding-box;
      border: 1px solid white;
      border-radius: 2px;
    }

  .form-group /* name,email,age */  
    {
      font-size: 1.3rem;
      padding: 0;
      font-weight: bold;
    }
  
  label, p /* text on the radio and checkbox  */ 
    {
      display: block;
      align-items: center;
      padding: 5px 5px;
      margin-left: 10px;
      margin-bottom: .25rem;
    }

  select, .input-radio, .input-checkbox/* when hovering on top of the options it changes the cursor*/ 
    {
      cursor: pointer;
    } 

  input/*when hovering on top of the options that requires text the cursor changes  */ 
    {
      cursor: text;
    } 

  .input-radio, .input-checkbox 
    {
      display: inline-block;
      min-height: 1rem;
      min-width: 2rem;
    }
  
  .input-textarea 
    {
      cursor: text;
      min-height: 120px;
      width: 98%;
      padding: 0.625rem;
      resize: vertical;
      border-radius: 5px;
    }

  .submit-button 
    {
      font-weight: bold;
      cursor: pointer;
      display: block;
      width: 100%;
      padding: 0.75rem;
      background: #2fd152;
      border-radius: 2px;
      margin: 2em auto;
      border-color: black;
    }

    @media (max-width: 75em) {
      html {
        font-size: 60%;
      }
    }
    
    @media (max-width: 61.25em) {
      html {
        font-size: 58%;
      }
    }
     
    @media (max-width: 28.75em) {
      html {
        font-size: 55%;
      }
    }

    @media (max-width: 28.75em) {
      .nav {
        justify-content: center;
      }
    
      .nav-list {
        margin: 0 1rem;
      }
    }
  
  
