/*   created by: Evans Pigon
date: 6/12/2023
class: CIS133DA
title: Building a Survey Form
*/

* /* The * means select all elements */
    {
      box-sizing: border-box;
    }

body  
    {
      background-image: url('/survey-images/chocolate-2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .topnav 
  {
    background-color: rgb(70, 69, 69);
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
  }

  .topnav li 
    {
      background-color: rgba(5, 5, 5, 0.637);
      font-size: 1.5rem;
      float:left;
      display: inline;
      border-right: 3px solid rgb(70, 69, 69);
    }
    .topnav li:last-child 
    {
      border-right: none;
      
    }

.topnav li a
    {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    } 

.topnav li a:hover
    {
      background-color: #fffefe;
      color: black;
    }


.container /* the whole page*/ 
    {
      margin: auto;
      max-width: 720px;
      font-weight: bold;
      padding: 0;
    } 

 .header /* title and description */ 
    {
      font-size: 2rem;
      padding-bottom: 0;
      color: white; 
      text-align: center;
    }
   
  h1 /*title*/ 
    {
      font-family: Impact, 'Arial Narrow Bold', sans-serif ;
      font-weight: 400;
      text-shadow:  5px 5px 5px black; 
    }
  
  #description  
    {
      font-style: italic;
      font-size: 1.4rem;
      font-weight: bold;
      text-shadow: 6px 6px 6px black;
    }

  #survey-form /* Info-box background*/ 
    {
      background: rgba(155, 153, 153, 0.877);
      border-radius: .5rem;
      padding: 2.5rem 0.625rem;
    }

  .divider 
    {
      border-bottom: 3px solid rgb(70, 69, 69);
      padding: 10px 5px ;
    }

  .form-control /*inside the dropdowns */ 
    {
      display: block;
      width: 97%;
      height: 2.5rem;
      margin: auto;
      padding: 0;
      color: black;
      background-clip: padding-box;
      border: 1px solid white;
      border-radius: 2px;
    }

  .form-group /* name,email,age */  
    {
      font-size: 1.1rem;
      padding: 0;
    }
  
  label, p /* text on the radio and checkbox  */ 
    {
      display: block;
      align-items: center;
      font-size: 1.1rem;
      padding: 5px 5px;
      margin-left: 10px;
      margin-bottom: .25rem;
    }

  select, .input-radio, .input-checkbox/* when hovering on top of the options it changes the cursor*/ 
    {
      cursor: pointer;
    } 

  input/*when hovering on top of the options that requires text the cursor changes  */ 
    {
      cursor: text;
    } 

  .input-radio, .input-checkbox 
    {
      display: inline-block;
      min-height: 1rem;
      min-width: 2rem;
    }
  
  .input-textarea 
    {
      cursor: text;
      min-height: 120px;
      width: 98%;
      padding: 0.625rem;
      resize: vertical;
      border-radius: 5px;
    }

  .submit-button 
    {
      font-weight: bold;
      cursor: pointer;
      display: block;
      width: 100%;
      padding: 0.75rem;
      background: #2fd152;
      border-radius: 2px;
      margin: 2em auto;
      border-color: black;
    }
  
  
